
@{
    ViewData["Title"] = "ConfirmDelete";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@model AdminLTE.Models.Employee
<form method="post" asp-controller="Employee" asp-action="Delete">
    <input asp-for="Id" hidden />
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Delete Employee</h3>
                    </div>
                    <div class="card-body" style="display: block;">

                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input class="form-control" asp-for="Name" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Surname"></label>
                            <input class="form-control" asp-for="Surname" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Patronymic"></label>
                            <input class="form-control" asp-for="Patronymic" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone"></label>
                            <input class="form-control" asp-for="Phone" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="LocalCommunity.Name"></label>
                            <input class="form-control" asp-for="LocalCommunity.Name" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <input type="submit" class="btn btn-success float-right" value="Delete" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <img src="@AdminLTE.ENV.ImagePath@Model.Image" />
                </div>
            </div>
        </div>
    </section>
</form>


