@model AdminLTE.Models.ViewModels.EmployeeVM

@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    var title = "Add Employee";

}
<form method="post" enctype="multipart/form-data">
    @if (Model.Employee.Id != 0)
    {
        title = "Edit Employee data";
        <input asp-for="Employee.Id" hidden />
    }
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@title</h3>
                    </div>
                    <div class="card-body" style="display: block;">

                        <div class="form-group">
                            <label asp-for="Employee.Name"></label>
                            <input class="form-control" asp-for="Employee.Name" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Employee.Surname"></label>
                            <input class="form-control" asp-for="Employee.Surname" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Employee.Patronymic"></label>
                            <input class="form-control" asp-for="Employee.Patronymic" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Employee.Phone"></label>
                            <input class="form-control" asp-for="Employee.Phone" />
                        </div>
                        <div class="form-group row">
                            <label asp-for="Employee.Image"></label>
                            <input type="file" name="files" id="upload" multiple class="form-control" style="height:44px" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Employee.LocalCommunityId"></label>
                            <select asp-for="Employee.LocalCommunityId" asp-items="@Model.LocalCommunitySelectList" class="form-control">
                                <option selected disabled>--Select Category--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    @if (Model.Employee.Id != 0)
                    {
                        <input type="submit" class="btn btn-success float-right" value="Update" />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-success float-right" value="Create" />
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    @if(Model.Employee.Id != 0)
                    { 
                        <img src="@AdminLTE.ENV.ImagePath@Model.Employee.Image" />
                    }
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
