@model AdminLTE.Models.LocalCommunity

@{
    ViewData["Title"] = "Delete local community";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<form method="post" asp-controller="LocalCommunity" asp-action="Delete">
    <input asp-for="Id" hidden />
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Delete Employee</h3>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input class="form-control" asp-for="Name" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <input type="submit" class="btn btn-success float-right" value="Delete" />
                </div>
            </div>
        </div>
    </section>
</form>

