@model AdminLTE.Models.LocalCommunity
@{
    ViewData["Title"] = "Create local community";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
@{
    var title = "Create Local Community";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Id != 0)
    {
        title = "Edit Local Community";
        <input asp-for="Id" hidden />
    }
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@title</h3>
                    </div>
                    <div class="card-body" style="display: block;">

                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input class="form-control" asp-for="Name" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    @if (Model.Id != 0)
                    {
                        <input type="submit" class="btn btn-success float-right" value="Update" />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-success float-right" value="Create" />
                    }
                </div>
            </div>
        </div>
    </section>
</form>



